config/btop/.config/btop/btop.log
config/lvim/.config/lvim/lazy-lock.json
target/
config/hypr/.config/hypr/scripts/btch/btch
config/hypr/.config/hypr/scripts/btch/zig-cache
config/hypr/.config/hypr/scripts/btch/zig-out
