default_shell "fish"
copy_command "wl-copy"
scrollback_editor "/usr/bin/nvim"
pane_frames false
default_layout "compact"

keybinds {
  unbind "Ctrl n" "Ctrl h" "Ctrl p"
  normal {
    bind "Alt q" { CloseFocus; }
    bind "Ctrl x" { SwitchToMode "Move";}
    bind "Alt p" { SwitchToMode "Pane"; }
    bind "Alt t" { NewTab; }
    bind "Alt r" { SwitchToMode "RenameTab"; TabNameInput 0; }
  }
  move {
    bind "Ctrl x" { SwitchToMode "Normal"; }
  }
  pane {
    bind "Alt p" { SwitchToMode "Normal"; }
  }
  renametab {
    bind "Alt r" { SwitchToMode "Normal"; }
  }
}
