[user]
	email = 72913359+Hamza12700@users.noreply.github.com
	name = Hamza
[alias]
	dog = log --oneline --decorate --graph --all
	list = log --decorate --graph --abbrev-commit --compact-summary
	st = status -s
	sw = switch
	pr = pull --rebase
	cl = clone
	ch = checkout
	ci = commit -v
   df = diff --color-moved
[rerere]
	enabled = true
[fetch]
	writeCommitGraph = true
[branch]
	sort = -committerdate
[push]
	autoSetupRemote = true
