[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[user]
	email = 72913359+Hamza12700@users.noreply.github.com
	name = Hamza
[alias]
	dog = log --oneline --decorate --graph --all
	list = log --decorate --graph --abbrev-commit --compact-summary
	st = status -s
	sw = switch
	pr = pull --rebase
	cl = clone
	ch = checkout
	ci = commit -v
   df = diff --color-moved

	; Ignore whitespace and detect lines moved or copied in the same commit or
	; the commit that created the file or any commit at all 
	bl = blame -w -C -C -C
[rerere]
	enabled = true
[fetch]
	writeCommitGraph = true
[branch]
	sort = -committerdate
[push]
	autoSetupRemote = true
